

.portfolio-container {
  background-color: white;
}


@media screen and (min-width: 1216px) {
  .section.is-long {
    padding-bottom: 18rem;
  }
}

@media screen and (min-width: 769px) {
  .section.is-long {
    padding-bottom: 16rem;
  }
}

.section.is-long {
  padding-bottom: 14rem;
}

.section.is-primary {
  background-color: #6E07F3;
  color: white;
}

@media screen and (min-width: 1024px) {
  .section.is-medium {
    padding: 9rem 4.5rem;
  }
}

.section {
  padding: 5rem 1.5rem;
}

@media screen and (min-width: 1024px) {
  .section {
    padding: 3rem 3rem;
  }
}

.section {
  padding: 3rem 1.5rem;
}

.has-text-centered {
  text-align: center !important;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}


.section.skills {
  margin-top: -10rem;
  padding-bottom: 1rem;
}

.section {
  padding: 5rem 1.5rem;
}

@media screen and (min-width: 1024px) {
  .section {
    padding: 3rem 3rem;
  }
}

.section {
  padding: 3rem 1.5rem;
}

.has-text-centered {
  text-align: center !important;
}

.section.skills .box {
  padding: 0;
}

.box {
  border-radius: 12px;
}

.box {
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8;
  color: #141c3a;
  display: block;
  padding: 1.25rem;
}

.section.skills .box .content .columns {
  margin-left: 0;
  margin-right: 0;
}

@media screen and (min-width: 769px),
print {
  .columns:not(.is-desktop) {
    display: flex;
  }
}

.columns.is-centered {
  justify-content: center;
}

.columns:last-child {
  margin-bottom: -0.75rem;
}

.columns {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;
}

width: 1216px) {
  .section.skills .box .content .columns .column {
    padding: 70px 45px;
  }
}

@media screen and (min-width: 769px) {
  .section.skills .box .content .columns .column {
    border-bottom: 0px solid #E6ECF8;
    border-right: 1px solid #E6ECF8;
    padding: 60px 35px;
  }
}

.section.skills .box .content .columns .column {
  padding: 50px 30px;
  border-bottom: 1px solid #E6ECF8;
  border-right: 0px solid #E6ECF8;
}

.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75rem;
}

.text-highlight {
  color: #6E07F3;
  font-weight: 800;
}


.hero.is-white {
  background-color: #ffffff;
  color: #0a0a0a;
}

.hero {
  padding-top: 2rem;
}

.hero {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.has-text-centered {
  text-align: center !important;
}

@media screen and (min-width: 769px),
print {
  .hero-body {
    padding: 3rem 3rem;
  }
}

.hero-body {
  flex-grow: 1;
  flex-shrink: 0;
  padding: 3rem 1.5rem;
}

.hero-foot {
  padding: 0rem 1.5rem;
}

.hero-head,
.hero-foot {
  flex-grow: 0;
  flex-shrink: 0;
}

@media screen and (min-width: 769px) {
  .hero-foot img.is-bottom {
    margin-bottom: -0.45rem;
    max-width: 860px;
  }
}

.hero-foot img.is-bottom {
  margin-bottom: -0.4rem;
}